<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<header>
    <div id="carouselExampleCaptions" class="carousel slide fixed-top" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active" style="background-image: url('/img/slider05.png');margin-top: 0px;">
                <div class="carousel-caption">
                    <div class="mask">
                        <div class="d-flex justify-content-center align-items-center h-100">
                            <div class="text-white d-flex flex-column align-items-start textH1">
                                <div class="d-flex align-items-center">
                                    <a href="index">
                                        <img src="/img/ITE-logo.jpeg" alt="Your Logo" class="me-3 logo" width="65">
                                    </a>
                                    <a href="index" style="color: white;  text-decoration: none;">
                                        <h1 class="m-0" >ITE Industrial Testing and Engineering</h1>
                                    </a>
                                </div>
                                <div class="textH4"  >
                                    <h4 class="mb-3">Engineering. Surveying. Solutions.</h4>
                                    <a class="btn btn-outline-light btn-lg" href="index" role="button">Home</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item" style="background-image: url('https://source.unsplash.com/wfh8dDlNFOk/1920x1080');margin-top: 0px;">
                <div class="carousel-caption">
                    <div class="mask">
                        <div class="d-flex justify-content-center align-items-center h-100">
                            <div class="text-white d-flex flex-column align-items-start textH1">
                                <div class="d-flex align-items-center">
                                    <a href="index">
                                        <img src="/img/ITE-logo.jpeg" alt="Your Logo" class="me-3 logo" width="65">
                                    </a>
                                    <a href="index" style="color: white;  text-decoration: none;">
                                        <h1 class="m-0" >ITE Industrial Testing and Engineering</h1>
                                    </a>
                                </div>
                                <div class="textH4"  >
                                    <h4 class="mb-3">Engineering. Surveying. Solutions.</h4>
                                    <a class="btn btn-outline-light btn-lg" href="index" role="button">Home</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item" style="background-image: url('https://source.unsplash.com/lHGeqh3XhRY/1920x1080');margin-top: 0px;">
                <div class="carousel-caption">
                    <div class="mask" >
                        <div class="d-flex justify-content-center align-items-center h-100">
                            <div class="text-white d-flex flex-column align-items-start textH1">
                                <div class="d-flex align-items-center">
                                    <a href="index">
                                        <img src="/img/ITE-logo.jpeg" alt="Your Logo" class="me-3 logo" width="65">
                                    </a>
                                    <a href="index" style="color: white;  text-decoration: none;">
                                        <h1 class="m-0" >ITE Industrial Testing and Engineering</h1>
                                    </a>
                                </div>
                                <div class="textH4"  >
                                    <h4 class="mb-3">Engineering. Surveying. Solutions.</h4>
                                    <a class="btn btn-outline-light btn-lg" href="index" role="button">Home</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</header>


<body>
</body>
</html>